
.sidebar {
  width: 270px;
  height: 100vh;
  background: #000;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  border-radius: 12px;
  border: 1px solid transparent;
  position: sticky;
  top: 0;
  left: 0;

  background-image:
    linear-gradient(#000, #000),
    linear-gradient(180deg, #7c3aed, #ec4899);

  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0;
  /* background-color: yellow; */
}

.logo-img {
  margin: 0;
  width: 80px;
  height: auto;
}

.logo-text {
  font-size: var(--h3-size);
  font-weight: var(--fw-semibold);
  color: var(--color-text);
  letter-spacing: 0.3px;
}

.divider {
  border: 0;
  height: 2px;
  background: var(--btn-gradient2);
  opacity: 0.5;
  margin: 15px 0;
  background-color: red;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  gap: 16px;
}

.menu-item,
.menu-item.dropdown,
.logout {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 8px;
  border-radius: 12px;
}

.menu-item:hover {
  background: #111;
  box-shadow: 0 0 10px var(--color-highlight);
}

.menu-item.active {
  background: #0b0b0b;
  box-shadow:
    0 0 0 2px rgba(243, 117, 194, 0.3),
    0 0 12px rgba(243, 117, 194, 0.7),
    0 0 20px rgba(243, 117, 194, 0.4) !important;
}

.menu-item.dropdown {
  flex-direction: column;
  align-items: stretch;
}

.menu-item.dropdown.active {
  background: #0b0b0b;
  box-shadow:
    0 0 0 2px rgba(243, 117, 194, 0.3),
    0 0 12px rgba(243, 117, 194, 0.7),
    0 0 20px rgba(243, 117, 194, 0.4) !important;
}

.menu-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-left {
  display: flex;
  align-items: center;
  gap: 14px;
  width: 100%;
}

.submenu {
  list-style: none;
  padding: 10px 0 0 34px;
  margin: 0;
  display: none;
}

.submenu.show {
  display: block;
}

.submenu a{
  text-decoration: none;
  color: var(--color-text);
}

.submenu a:hover{
  background: #111;
  box-shadow: 0 0 10px var(--color-highlight);
}

.submenu li {
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid var(--color-highlight);
  background: #050505;
  transition: 0.25s;
}

.submenu li:hover {
  background: #111;
  box-shadow: 0 0 10px var(--color-highlight);
}

.logout {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--color-highlight);
  transition: 0.25s;
}

.logout:hover {
  background: #111;
  box-shadow: 0 0 10px var(--color-highlight);
}

.main-content {
  flex: 1;
  padding: 32px 24px;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* text profile */
.profile {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: right;
}

.title {
  margin: 0;
  font-size: var(--h2-size);
  font-weight: var(--fw-semibold);
  color: var(--color-text);
}

.admin-name {
  margin: 0;
  font-weight: 600;
  font-size: var(--h4-size);
  color: var(--color-text);
}

.admin-role {
  margin: 0;
  font-size: var(--body-md);
  color: var(--color-text);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--btn-gradient-logo);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

#dashboard-logo {
  width: 50px;
  height: 50px;
}

.body-text-title {
  margin: 0;
  font-size: var(--h2-size);
  font-weight: var(--fw-semibold);
  color: var(--color-text);
}

.body-text {
  margin: 0;
  color: var(--color-text);
  font-size: var(--caption);
}

.body-form {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row-form {
  display: flex;
  gap: 24px;
}

.row-form>div {
  flex: 1;
}

.form-control {
  width: 100%;
  background: linear-gradient(var(--color-surface)) padding-box,
    var(--btn-gradient2) border-box;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 12px;
  color: var(--color-text) !important;
}

.form-floating>.form-control:focus {

  outline: none !important;

  border: 2px solid transparent !important;

  background:
    linear-gradient(var(--color-surface), var(--color-surface)) padding-box,
    var(--btn-gradient2) border-box;

  /* glow luar */
  box-shadow:
    0 0 0 2px rgba(243, 117, 194, 0.3),
    0 0 12px rgba(243, 117, 194, 0.7),
    0 0 20px rgba(243, 117, 194, 0.4) !important;
}

.form-select {
  width: 100%;
  background: linear-gradient(var(--color-surface)) padding-box,
    var(--btn-gradient2) border-box;

  border: 2px solid transparent;
  border-radius: 10px;
  padding: 12px;

  color: var(--color-text);
}

.custom-select {
  position: relative;
  width: 100%;
}

.select-btn {
  color: var(--color-text);
  padding: 12px;
  border-radius: 10px;
  border: 2px solid transparent;

  background: linear-gradient(#111, #111) padding-box,
    var(--btn-gradient2) border-box;

  cursor: pointer;
}

.select-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: 8px;
  background: #111;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 0 15px rgba(168, 85, 247, 0.25);
}

.select-item {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.select-item:hover {
  background: linear-gradient(90deg, #7c3aed33, #ec489933);
}

.select-menu.show {
  color: var(--color-text);
  display: block;
}

.form-label {
  margin: 0;
  font-size: var(--h2-size);
  font-weight: var(--fw-semibold);
  color: var(--color-text);
}

.profil{
  margin: 0;
  padding: 0;
}

.wilayah{
  margin: 8px;
}

.form-label{
  margin: 8px;
}

.dropdown {
  position: relative;
  width: 250px;
}

#searchInput {
  width: 100%;
  padding: 10px;
  color: var(--color-text);
  border: 2px solid transparent; 
  border-radius: 8px;
  background: linear-gradient(#111, #111) padding-box,
    var(--btn-gradient2) border-box !important;
  background-color: var(--color-bg);
}

.dropdown-list {
  position: absolute;
  width: 100%;
  background: linear-gradient(#111, #111) padding-box,
    var(--btn-gradient2) border-box;
  
  color: var(--color-text);
  max-height: 150px;
  overflow-y: auto;
  display: none;
}

.item {
  padding: 10px;
  cursor: pointer;
}

.item:hover {
  background: linear-gradient(90deg, #7c3aed33, #ec489933);
}

.tags-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  font-size: 14px;

  border: 2px solid transparent;

  background:
    linear-gradient(#111, #111) padding-box,
    linear-gradient(90deg, #7c3aed, #ec4899) border-box;

  display: flex;
  align-items: center;
  gap: 8px;
}

.tag .remove {
  cursor: pointer;
  color: #ec4899;
  font-weight: bold;
}
