body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0a0a0a;
}

/*  NAVBAR  */
.header {
  position: sticky;
  top: 0;
  left: 0;
  right:0;
  padding: 32px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  z-index: 10000;
  background: var(--color-bg);
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar_logo {
  width: 116px;
  height: 60px;
  object-fit: contain;
}

.navbar_menu {
  display: flex;
  gap: 32px;
}

.navbar_menu h1{
  color: var(--color-text);
  font-size: var(--h1-size);
  font-weight: var(--fw-semibold);
}

.navbar_menu-item {
  color: #efece3;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease;
}

.navbar_menu-item:hover {
  color: #b153d7;
}

.navbar_menu-item--active {
  color: #b153d7;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: right;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--btn-gradient-logo);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.form-control{
    background: linear-gradient(var(--color-surface)) padding-box,
                var(--btn-gradient2) border-box;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 12px;
}

.form-control:focus{
  outline: none;
  border: 2px solid transparent;
  background:
    linear-gradient(var(--color-surface), var(--color-surface)) padding-box,
    var(--btn-gradient2) border-box;

  box-shadow:
    0 0 0 2px rgba(243, 117, 194, 0.3),
    0 0 12px rgba(243, 117, 194, 0.7),
    0 0 20px rgba(243, 117, 194, 0.4);
  color: var(--color-text);
}


.input-group-text{
  background-color: var(--color-bg);
  border: 2px solid transparent;
  background:
    linear-gradient(var(--color-surface), var(--color-surface)) padding-box,
    var(--color-primary) border-box;
}

.bi.bi-search{
  color: var(--color-text);
}

.container-search-filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 0 32px;
}

.bg-accent {
  border: 2px solid transparent;
  background:
    linear-gradient(var(--color-accent), var(--color-accent)) padding-box,
    var(--color-primary) border-box;
}

.btn-bg-accent {
  background: var(--color-accent);
  border: 2px solid transparent;
  background:
    linear-gradient(var(--color-accent), var(--color-accent)) padding-box,
    var(--color-primary) border-box;
  color: var(--color-text);
}

.btn-bg-accent:hover {
  background:
    linear-gradient(var(--color-highlight), var(--color-highlight)) padding-box,
    var(--color-accent) border-box;
    color: var(--color-text);
}

.btn-bg-accent:active{
  border: 3px solid transparent;
  background:
    linear-gradient(var(--color-highlight), var(--color-highlight)) padding-box,
    var(--color-accent) border-box;
  box-shadow:
    0 0 0 2px rgba(243, 117, 194, 0.3),
    0 0 12px rgba(243, 117, 194, 0.7),
    0 0 20px rgba(243, 117, 194, 0.4);
  color: var(--color-text) !important;
}

.progress-container {
  padding: 32px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 180px;
}

/* LINE */
.step:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 25px; /* setengah dari tinggi circle */
    right: -90px;
    width: 180px;
    height: 2px;
    background-color: #dee2e6;
    z-index: 1;
}

/* CIRCLE */
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-surface);
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

/* LABEL */
.label {
  color: var(--color-text);
    margin-top: 8px;
    font-size: var(--body-md);
    font-weight: var(--fw-md);
    text-align: center;
}

/* STATES */
.step.completed .circle {
  border: 3px solid transparent;
  background:
    linear-gradient(var(--color-highlight), var(--color-highlight)) padding-box,
    var(--color-bg) border-box;
}

.step.active .circle{
  border: none;
  outline: none;
  position: relative;
  width: 50px;
  height: 50px;
}

.step.active .circle .content{
  inset: 0;
  background: var(--color-primary);
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step.active .circle .outer {
  position: absolute;
  z-index: -1;
  border-radius: 50%; 
  inset: -4px;
  background: var(--color-bg);
  border: none;
  outline: none;
}

.step.active .circle .border {
  position: absolute;
  z-index: -2;
  border-radius: 50%; 
  inset: -6px;
  background: var(--btn-gradient2);
  border: none;
  outline: none;
}

.circle i {
    font-size: 20px;
}

.arrow_logo{
  transform: rotate(180deg);
  width: 30px;
  height: 50px;
}

.logo_image{
  width: 80px;
  height: 50px;
}

.header-container{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-container {
  width: 100vw;
  padding: 32px;
}

.agent-card-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.agent-card {
  border: 2px solid var(--color-primary);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.agent-card h1 {
  font-size: var(--h2-size);
  color: var(--color-text);
  font-weight: var(--fw-semibold);
}

.agent-card-item-wrapper {
  width: 100%;
  display: flex;
  color: var(--color-text);
  gap: 8px;
  align-items: center;
}

.agent-card-item-wrapper img {
  width: 24px;
  height: 24px;
}

.gradient-divider {
  background: var(--btn-gradient2);
  height: 1.5px;
  width: 100%;
}

.glass-container {
    margin: 80px;
    padding: 60px 32px;
    gap: 32px;
    border-radius: 16px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border: 1px solid var(--color-accent);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.form-floating > .form-control:focus {

    outline: none !important;

    border: 2px solid transparent !important;

    background:
        linear-gradient(var(--color-surface), var(--color-surface)) padding-box,
        var(--btn-gradient2) border-box !important;

    /* glow luar */
    box-shadow: 
        0 0 0 2px rgba(243, 117, 194, 0.3),
        0 0 12px rgba(243, 117, 194, 0.7),
        0 0 20px rgba(243, 117, 194, 0.4) !important;
}

