.table-section{
    padding:24px;
}

body{
    margin:0;
    font-family:'Poppins', sans-serif;
    background:#0a0a0a;
}

.layout{
    display:flex;
}

.sidebar{
    width:270px;
    height:100vh;
    background:#000;
    color:white;
    display:flex;
    flex-direction:column;
    padding:32px 24px;
    border-radius:12px;
    border:1px solid transparent;

    background-image:
        linear-gradient(#000,#000),
        linear-gradient(180deg,#7c3aed,#ec4899);

    background-origin:border-box;
    background-clip:padding-box,border-box;
}

.sidebar-header{
    display:flex;
    align-items:center;
    gap: 16px;
    margin: 0;
    /* background-color: yellow; */
}

.logo-img{
    margin: 0;
    width:80px;
    height:auto;
}

.logo-text{
    font-size:var(--h3-size);
    font-weight:var(--fw-semibold);
    color:var(--color-text);
    letter-spacing:0.3px;
}

.divider{
    border:0;
    height:2px;
    background:var(--btn-gradient2);
    opacity:0.5;
    margin:15px 0;
    background-color: red;
}

.menu{
    display: flex;
    flex-direction: column;
    width:100%;
    padding:0;
    gap: 16px;
}

.menu-item,
.menu-item.dropdown,
.logout{
    width:100%;
    box-sizing:border-box;
    display:flex;
    align-items:center;
    gap:16px;
    padding:8px 8px;
    border-radius:8px;
}

.menu-item:hover{
    background:#111;
    box-shadow:0 0 10px var(--color-highlight);
}

.menu-item.active{
    background:#0b0b0b;
    box-shadow: 
        0 0 0 2px rgba(243, 117, 194, 0.3),
        0 0 12px rgba(243, 117, 194, 0.7),
        0 0 20px rgba(243, 117, 194, 0.4) !important;
}

.menu-item.dropdown{
    flex-direction:column;
    align-items:stretch;
}

.menu-item.dropdown.active{
    background:#0b0b0b;
    box-shadow: 
        0 0 0 2px rgba(243, 117, 194, 0.3),
        0 0 12px rgba(243, 117, 194, 0.7),
        0 0 20px rgba(243, 117, 194, 0.4) !important;
}

.menu-main{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.menu-left{
    display:flex;
    align-items:center;
    gap:14px;
    width:100%;
}

.submenu{
    list-style:none;
    padding:10px 0 0 34px;
    margin:0;
    display:none;
}

.submenu a{
  text-decoration: none;
  color: var(--color-text);
}

.submenu.show{
    display:block;
}    

.submenu li{
    padding:12px 14px;
    margin-bottom:10px;
    border-radius:8px;
    border:2px solid var(--color-highlight);
    background:#050505;
    transition:0.25s;
}

.submenu li:hover{
    background:#111;
    box-shadow:0 0 10px var(--color-highlight);
}

.logout{
    display:flex;
    align-items:center;
    padding:8px;
    border-radius:10px;
    cursor:pointer;
    color:var(--color-highlight);
    transition:0.25s;
}

.logout:hover{
    background:#111;
    box-shadow:0 0 10px var(--color-highlight);
}

.main-content{
    flex:1;
    padding: 32px 24px;
}

.content-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.header-right{
    display:flex;
    align-items:center;
    gap:12px;
}

/* text profile */
.profile{
    display:flex;
    flex-direction:column;
    gap:4px;
    text-align:right;
}

.title{
    margin:0;
    font-size:var(--h2-size);
    font-weight:var(--fw-semibold);
    color:var(--color-text);
}

.admin-name{
    margin:0;
    font-weight:600;
    font-size:var(--h4-size);
    color:var(--color-text);
}

.admin-role{
    margin:0;
    font-size:var(--body-md);
    color:var(--color-text);
}

.avatar{
    width:50px;
    height:50px;
    border-radius:50%;
    background:var(--btn-gradient-logo);
    color:var(--color-text);
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:600;
}

.section-title{
    color:white;
    font-size:24px;
    margin-bottom:16px;
}

.table-container{
    /* background-color: red; */
    width:100%;
    border-collapse: separate;
    border-spacing: 0;
    padding: 32px;
    table-layout:fixed;
    border-radius: 8px;
    color: var(--color-text);
    background:
        linear-gradient(#0a0a0a,#0a0a0a) padding-box,
        linear-gradient(90deg,var(--color-highlight)) border-box;
    border:2px solid transparent;
    box-shadow:
        0 0 10px rgba(168,85,247,0.3),
        0 0 20px rgba(168,85,247,0.15);
}

.head-container th {
    border: none !important;
}

.head-container tr {
    border-bottom: 2px solid transparent;
    background:
        linear-gradient(#0a0a0a,#0a0a0a) padding-box,
        linear-gradient(90deg,#7c3aed,#ec4899) border-box;
}

.head-container{
    background:
        linear-gradient(#0a0a0a,#0a0a0a) padding-box,
        linear-gradient(90deg,#7c3aed,#ec4899) border-box;

    border:2px solid transparent;
    border-radius:12px;
}

.title-table{
    border:none;
    background:none;
    padding:16px 20px;
    color:var(--color-text);
}

tbody .body-table{
    margin-top: 16px;
}

.body-table{
    width:100%;
    justify-content: center;
    padding:16px 20px;
    text-align:left;
}

.item-body:hover{
    background:linear-gradient(90deg,#7c3aed22,#ec489922);
    border-radius:10px;
}

