@import "tailwindcss";
:root {

  /* =========================
     COLORS
  ========================= */

  /* Background */
  --color-bg: #000000;
  --color-surface: #1E1E1E;

  /* Brand */
  --color-primary: #4D2FB2;
  --color-secondary: #0E21A0;
  --color-accent: #B153D7;
  --color-highlight: #F375C2;

  /* Text */
  --color-text: #EFECE3;


  /* =========================
     BUTTON
  ========================= */

  --btn-primary: #4D2FB2;
  --btn-primary-hover: #B153D7;
  --btn-gradient: linear-gradient(90deg, #0E21A0, #4D2FB2, #B153D7, #F375C2);
  --btn-gradient2: linear-gradient(90deg, #4D2FB2, #B153D7, #F375C2, #B153D7,#4D2FB2);
  --btn-gradient-logo: linear-gradient(180deg, #4D2FB2, #B153D7, #F375C2);


  /* =========================
     TYPOGRAPHY
  ========================= */

  --font-primary: 'Poppins', sans-serif;

  /* Heading */
    --h1-size: 32px;
    --h2-size: 26px;
    --h3-size: 22px;
    --h4-size: 18px;

    /* Body */
    --body-lg: 18px;
    --body-md: 16px;
    --body-sm: 14px;
    --caption: 12px;

  /* Font Weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;


  /* =========================
     SPACING
  ========================= */

  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;


  /* =========================
     BORDER RADIUS
  ========================= */

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
}


.btn-outline-primary {
    border: 1px solid transparent;

    background:
        linear-gradient(var(--color-surface), var(--color-surface)) padding-box,
        var(--btn-gradient) border-box;

    color: var(--color-text);
    border-radius: 10px;
    transition: all 0.25s ease;
}

.btn-outline-primary:hover {
    background: var(--btn-gradient2);
    color: white;
    box-shadow: 
        0 0 0 2px rgba(243, 117, 194, 0.3),
        0 0 12px rgba(243, 117, 194, 0.7),
        0 0 20px rgba(243, 117, 194, 0.4) !important;
}